---
import { db, Game } from "astro:db";

import Layout from "../../layouts/Layout.astro";
import TextInput from "../../components/input/TextInput.astro";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();

    const name = formData.get("name");
    const shortName = formData.get("shortName");
    const slug = formData.get("slug");
    const coverUrl = formData.get("coverUrl");

    if (
        typeof name === "string" &&
        typeof shortName === "string" &&
        typeof slug === "string" &&
        typeof coverUrl === "string"
    ) {
        await db.insert(Game).values({
            name,
            shortName,
            slug: slug || shortName.toLowerCase().replaceAll(" ", "-"),
            coverUrl,
        });

        Astro.redirect("/");
    }
}
---

<Layout title="Create a game" description="The form for creating a new game.">
    <form method="POST">
        <TextInput label="Name" name="name" required />
        <TextInput label="Short Name" name="shortName" required />
        <TextInput label="URL Slug" name="slug" />
        <TextInput label="Cover URL" name="coverUrl" type="url" />
        <button type="submit">Submit</button>
    </form>
</Layout>
