---
import { db, Game } from "astro:db";
import Button from "../components/input/Button.astro";
import TextInput from "../components/input/TextInput.astro";
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();

    const name = formData.get("name");
    const shortName = formData.get("shortName");
    const slug = formData.get("slug");
    const coverUrl = formData.get("coverUrl");

    if (
        typeof name === "string" &&
        typeof shortName === "string" &&
        typeof slug === "string" &&
        typeof coverUrl === "string"
    ) {
        await db.insert(Game).values({
            name,
            shortName,
            slug: slug || shortName.toLowerCase().replaceAll(" ", "-"),
            coverUrl,
        });

        return Astro.redirect("/");
    }
}
---

<Layout title="Create a game" description="The form for creating a new game.">
    <form method="POST">
        <TextInput label="Name" name="name" required />
        <TextInput label="Short Name" name="shortName" required />
        <TextInput label="URL Slug" name="slug" />
        <TextInput label="Cover URL" name="coverUrl" type="url" />
        <Button label="Create Game" type="submit" />
    </form>
</Layout>
