---
import { db, Game } from "astro:db";

import GameCard from "../components/game/GameCard.astro";
import Layout from "../layouts/Layout.astro";

const games = await db.select().from(Game);
---

<Layout title="Collectathon" description="Welcome to the Collectathon!">
    <main>
        <h1>
            Welcome to the<br /><span class="text-gradient">Collectathon</span>
        </h1>
        {
            games.length ? (
                <div class="games">
                    {games.map((game) => (
                        <GameCard {...game} />
                    ))}
                </div>
            ) : (
                <p class="error">
                    No games found yet.{" "}
                    <a href="/create">Would you like to add one?</a>
                </p>
            )
        }
        <a href="/create" class="add">
            <span class="symbol">+</span>
        </a>
    </main>
</Layout>

<style>
    main {
        min-width: calc(2 * var(--tile-size) + 2 * var(--tile-gap));
        max-width: calc(6 * var(--tile-size) + 6 * var(--tile-gap));
        padding: 2rem;
        margin: auto;
        color: white;
        line-height: 1.6;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        background-position: 0%;
    }
    .games {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
        gap: var(--tile-gap);
    }
    .error {
        font-size: 1.25rem;
        text-align: center;
    }
    a.add {
        text-decoration: none;
    }
    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        position: fixed;
        bottom: 40px;
        right: 40px;
        background-color: rgb(var(--accent-dark));
        border-radius: 9999px;
        transition: background-color 0.5s ease;
    }
    .add:hover {
        background-color: rgb(var(--accent-light));
        cursor: pointer;
    }
    .symbol {
        margin-top: -4px;
        font-size: 2rem;
        color: black;
    }
</style>
